<p-table [value]="list" [paginator]="list != undefined && list.length > 10" [rows]="10" >
  <ng-template pTemplate="header">
      <tr>
        <th>Id</th>
        <th>Age</th>
        <th>Nom</th>
        <th>Salaire</th>
        <th></th>
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-employe>
      <tr>
        <td>{{employe.id}}</td>
        <td>{{employe.employee_age}}</td>
        <td>{{employe.employee_name}}</td>
        <td>{{employe.employee_salary}}</td>
        <td></td>
      </tr>
  </ng-template>
</p-table>
